/* shared styles */
header,
section {
  max-width: 1140px;
  margin: 0 auto;
}
/* font family styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-link {
  font-family: "Inter", sans-serif;
}

/* responsive styles */
@media screen and (max-width: 40rem) {
  nav {
    margin: 0 1rem;
  }
}
